<style>
    :root {
        /* Primary theme color */
        --primary-color: #FFFFF0;
        /* Primary theme text color */
        --primary-text-color: #A62121;
        --primary-text-color-over: #FFB219;
        /* Primary theme link color */
        --primary-link-color: #D480FF;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
        --toc-background-color: white;
        --code-color: #4a4a4a;
        --code-background-color: white;

        --shadow-color: #ddd;

        /* Fonts */
        --header-font-family: 'neris-light', sans-serif;
        --text-font-family: 'neris-light', sans-serif;
    }
</style>
