{% extends "juice/templates/index.html" %}

{% block fonts %}
<link href="https://www.dafontfree.net/embed/bmVyaXMtbGlnaHQmZGF0YS80Ni9uLzYwNzcwL05lcmlzLUxpZ2h0Lm90Zg" rel="stylesheet" type="text/css"/>
<link href="https://www.dafontfree.net/embed/bmVyaXMtYmxhY2smZGF0YS80Ni9uLzYwMzY2L05lcmlzLUJsYWNrLm90Zg" rel="stylesheet" type="text/css"/>
{% endblock fonts %}

{% block hero %}
<section class="text-center">
<img class="hero-image" src="{{ get_url(path="logo-IOL-2024.svg") }}" style="width: 50%" />
<h1 class="heading-text" style="font-size: 50px">
For the first time in the Southern Hemisphere.
</h1>
<h3 class="title-text">
XXI International Linguistics Olympiad
</h3>
</section>
{% endblock hero %}

{% block footer %}
<footer>
</footer>
{% endblock footer %}
